{% set title="About"%}
{% extends "_layout.html" %}
{% block main %}
<div class="row">
  <div class="col-4" style="background:#ddd;padding-top:15px">
    <p><img src="https://i.imgur.com/5CUPzMB.png" width=100%/></p>
    <p><img src="https://i.imgur.com/NGmyT6u.png" width=100%/></p>
  </div>
  <div class="col">
    <section>
      <p>Greetings and welcome to my website! My name is Sydney Weitler
      and I am a graduate student from Sheridan College with a background
      in the arts and psychology. I graduated from the College with a
     diploma in <a href="https://www.sheridancollege.ca/programs/art-fundamentals">
     Art Fundamentals</a> and <a href="https://www.sheridancollege.ca/programs/social-service-worker">
     Social Service Work</a> and have since then picked up coding through
     <a href="https://www.codecademy.com/">CodeAcademy</a>.</p>
    </section>
    <section>
      <p>Though I have yet to experience work in the field of coding,
      I have over 2 years experience in the mental health field. I also
      have 5 years experience in retail with some experience in data entry.
      </p>
    </section>
    <!-- TODO: Use hrefs for the "here" sections below  -->
    <section>
      <p>You can download a pdf copy of my resume here and explore my
      other volunteer opportunities here. You can also access my
      LinkedIn page and GitHub at your leisure.</p>
    </section>
  </div>
</div>
{% endblock %}
