{% set title="Yes"%}
{% set hide_title_box=true%}
{% extends "_layout.html" %}
{% block main %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col">
        <p><img src="assets/profile.png" width="20%" class="rounded-circle"/></p>
        <h1>Greetings, I'm Sydney.</h1>
        <p class="lead text-muted">
          Welcome to my portfolio. I am an aspiring Web Developer with an extensive history in the arts and social services field.
        </p>
        <p>

        </p>
      </div>
    </div>
  </section>

{% endblock %}
