{% set title="Resume"%}
{% extends "_layout.html" %}
{% block main %}
  <div class="row">
    <div class="col-4" style="background:#ddd;padding-top:15px">
      <!-- TODO: Make the picture square -->
      <p><img src="assets/profile.png" width="50%" class="rounded-circle"/></p>
      <h2 class="fs-6"> About Me</h2>
      <p class="text-smaller">
        Highly detail oriented graduate from Sheridan College with a
        willingness to learn new skills. Experienced in customer service,
        social sciences and the arts.
      </p>
      <h2 class="fs-6">Education</h2>
      <p class="text-smaller">
        Kings Christian Collegiate<br/>OSSD Graduate</p>
      <p class="text-smaller">Sheridan College<br/>Art Fundamentals Certificate</p>
      <p class="text-smaller">Sheridan College<br/>Bachelor of Illustration</p>
      <p class="text-smaller">Sheridan College<br/>SSW Diploma</p>
      <h2 class="fs-6">Resume Download</h2>
      <p class="text-smaller"><a href="assets/sweitlerresume.pdf" download>Resume</a></p>
    </div>
    <div class="col">
      <section>
        <h2 class="fs-6">Sheridan College - Research Assistant</h2>
        <p>JAN 2021 - AUG 2021</p>
        <p>Worked within the faculty of Social Services and Communications
          alongside two professors researching the experiences of students
          in a non curricular research project. daily tasks included
          designing the research poster, editing
          transcription interviews using Otter.ai, writing an annotated
          bibliography, attending weekly meetings and using microsoft excel
          to chart weekly tasks.</p>
      </section>
      <section>
        <h2 class="fs-6">Hearthstone By The Lake - Homemaker/Companion</h2>
        <p>OCT 2018 - JUN 2019</p>
        <p>Worked directly with seniors who have dementia in a variety of
          settings from food prep to basic physiotherapy. Report back to the
          head nurse upon finishing each shift. Assisted PSW’s with resident
          transfers, medical assistance and
          basic care. Provided clients with a patient attitude and open ear
          whenever needed.</p>
      </section>
      <section>
        <h2 class="fs-6">TJX Canada - Seasonal Sales Associate</h2>
        <p>OCT 2016 - AUG 2019</p>
        <p>Worked as a seasonal sales associate at all three TJX stores:
          Winners, Marshalls and Homesense. Processed and brought
          merchandise from the warehouse to the sales floor. Priced and
          tagged products during morning shifts and assisted new associates.
          Developed excellent customer service skills while on the sales
          floor.</p>
      </section>
    </div>
  </div>
{% endblock %}
