{% set title="Volunteer Work"%}
{% extends "_layout.html" %}
{% block main %}
<div class="row">
  <div class="col-4"style="background:#ddd;padding-top:15px">
    <!-- TODO: Make the picture square -->
    <img src="assets/sheridanmentalhealth.png" width="100%">
    <br></br>

    <br></br>
    <!-- <img src="assets/volunteerninthlifecatrescue.jpg" width="100%"> -->
  </div>
  <div class="col">
    <section>
      <p><img src="assets/supporthouse-logo-header.png" width="40%"></p>
      <h2 class="fs-6">Support House - Peer Support Worker</h2>
      <p>SEP 2019 - ONGOING</p>
      <p>Partake in peer drop-in groups for individuals across the Halton region who struggle with mental health and substance use. Volunteered as a certified peer mentor for the Burlington TEACH group prior to its amalgamation with The Centre. Continue to serve the community by working with peers individually on a case by case basis, serving in suicide intervention when necessary. Assisted facilitators in person with set up and takedown of groups by arranging furniture and laying out resources. </p>
    </section>
    <section>
      <!-- <p><img src=supporthouse-logo-header.png></p>
      <h2 class="fs-6">Add third volunteer position here</h2>
      <p>OCT 2016 - AUG 2019</p>
      <p>description goes here</p> -->
    </section>
  </div>
</div>
<div class="row">
  <div class="col-4" style="background:#ddd;padding-top:15px">
  <p><img src="assets/volunteerninthlifecatrescue.jpg" width="100%"></p>
  </div>
  <div class="col">
    <section>
      <p><img src="assets/ninthlifecatrescue.png" width="20%"></p>
      <h2 class="fs-6">Ninth Life Cat Rescue - Helper</h2>
      <p>OCT 2018 - JUN 2019</p>
      <p>Volunteered with Ninth Life Cat Rescue in collaboration with PetSmart to maintain the wellness of the cats and screen potential owners for suitability of a pet.</p>
    </section>
  </div>
</div>
{% endblock %}
